body{
    background: url(https://www.shutterstock.com/image-vector/abstract-metallic-red-black-frame-600nw-457898680.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}